.wrapper{
	max-width: 100px;
	margin: 0 auto;
	text-align: center;
	max-height: 100px;
}

.bottom{
	display: none;
	border: solid 2px black;
	height: 30px;
	width: 40px;
  border-bottom: transparent;
}

.pole{
	display: none;
	margin-left: 20px;
	width: 2px;
	height: 50px;
	border: solid 2px black;
	border-top: transparent;
  border-bottom: transparent;
}

.h-pole{
	display: none;
	margin-left: 20px;
	height: 2px;
	width: 50px;
	border: solid 2px black;
}

.rope{
	display: none;
	width: 2px;
  height: 20px;
  border: solid 2px black;
  position: relative;
  left: 67px;
  top: 20px;
}


.head{
	display: none;
	  width: 10px;
    height: 10px;
    border: solid 2px black;
    border-radius: 50%;
    position: relative;
    top: 51px;
    left: 63px;
    z-index: 8;
    background-color: white;

}

.body{
	display: none;
	  width: 10px;
    height: 20px;
    border: solid 2px black;
    border-radius: 50%;
    position: relative;
    top: 87px;
    left: 63px;
    background-color: white;
    z-index: 2;

}

.arms{
	position: relative;
	left: 63px;
}

.left-arm{
	display: none;
	  position: relative;
    width: 10px;
    top: 104px;
    left: -12px;
    border: solid 2px black;
    border-right: transparent;
    height: 2px;
}

.right-arm{
	display: none;
	  position: relative;
    width: 10px;
    top: 101px;
    left: 13px;
    border: solid 2px black;
    border-left: transparent;
    height: 2px;
}

.legs{
	position: relative;
}

.right-leg{
	display: none;
  position: relative;
  height: 15px;
  width: 2px;
  top: 133px;
  left: 63px;
  border: solid 2px black;
  border-top: transparent;
}


.left-leg{
	display: none;
	position: relative;
  height: 15px;
  top: 150px;
  left: 71px;
  border: solid 2px black;
  border-top: transparent;
  width: 2px;
}