.individualletter{
	float: left;
	width: 10px;
	color: red;
	font-family: "Comic Sans MS", cursive, sans-serif;
	border: solid;
}
.word-container{
	float: left;
	width: 100%;
	display: inline-block;
}