.navbar {
	background-color: white;
	border-radius: 20px;
	width: auto;
	height: auto;
	padding: 20px;
	top: 23%;
	position: fixed;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}
.navlist {
	list-style-type: none;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
.navlist li ul {
	list-style-type: none;
	/*visibility: hidden;*/
}
p.comic {
    font-family: "Comic Sans MS", cursive, sans-serif;
} 
.footer_container {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 13px;
    position: relative;
    text-align: center;
    height: auto;
    clear: both;
    bottom: 0;
    padding-left: 40px;
    padding-top: 20px;
    margin-top: 20px;
}