.navbar {
	background-color: white;
	border-radius: 20px;
	float: left;
	width: auto;
	height: auto;
	padding: 30px;
	top: 23%;
	position: fixed;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.navlist {
	list-style-type: none;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
.navlist li ul {
	list-style-type: none;
	/*visibility: hidden;*/
}

p.comic {
    font-family: "Comic Sans MS", cursive, sans-serif;
} 